@model AddProductViewModel

<form id="addForm">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input id="name" type="text" class="form-control" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" class="form-control" asp-for="Description"></textarea>
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input id="price" type="number" class="form-control" asp-for="Price" />
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input id="category" type="text" class="form-control" asp-for="Category" />
    </div>
    <button class="btn btn-success" type="button" onclick="sendAddForm()">Save</button>
</form>